body{
    margin: 0;
}

.heading{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}


.sub-heading{
    text-align: center;
}

.newspaper hr{
    width: 6rem;
}


.weather{
    margin: 10px;
    width: 190px;
    height: 75px;
    text-align: center;
    padding:10px 5px; 
    border: 1px solid black;
}

.fontitalic{
    font-style: italic;
}

.lines{
    margin-top: 0;
}

.date{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    padding-right: 300px;
}

.main{
    margin: 0;
    font-size: 6rem;
}

.newspaper{
    margin-top: 20px;
    column-count: 4;
    -webkit-column-count:4 ;
    column-gap: 40px;
    -webkit-column-gap: 40px;
    column-rule-style: solid;
    -webkit-column-rule-style:solid ;
    
}


.box2{
    width: 370px;
    display: flex;
    justify-content: center;

}


.news1{
    width: 220px;
    text-align: center;
    font-size: 2rem;
    font-style: italic;

}


.force{
    font-size: 1.5rem;
}

.news2{
    width: 170px;
    text-align: center;
    font-size: 2rem;
    font-style: italic;

}

.news3{
    width: px;
    text-align: center;
    font-size: 2rem;
    font-weight:bold;

}

.hermione{
    margin-top: 10px;
    width: 22rem;
    height: 15vh;
}

.luke{
    width: 20rem;
    height: 14vh;
}


.news4{
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
}